.header {
    display: flex;
    background-color: #333;
    height: 50px
}

.logo {
    color: white;
}

.nav-link {
    color: white;
    margin-top: 10px;
    text-decoration: none;
    font-size: 18px;
    position: absolute;
    left: 50%;
}

.sidebar_header {
    border-bottom: 1px solid #555;
}

.table {
	border: 1px solid #eee;
	table-layout: fixed;
	width: 100%;
	margin-bottom: 20px;
}
.table th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
}
.table td {
	padding: 5px 10px;
	border: 1px solid #eee;
	text-align: left;
}
.table tbody tr:nth-child(odd){
	background: #fff;
}
.table tbody tr:nth-child(even){
	background: #F7F7F7;
}

 .container {
            display: flex;
        }

.sidebar {
    padding: 20px;
    flex: 1;
}

.sidebar a {
    display: block;
    text-decoration: none;
    padding: 10px 0;
}

.content {
    flex: 4;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: auto;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}

td:first-child, th:first-child {
    white-space: nowrap;
    width: 20px;
}

th {
    background: #f4f4f4;
}

.upload-form {
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: #f9f9f9;
}

input[type="file"] {
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background: blue;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}