<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Estore</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>
<body>
<header class="header">
    <h3 class="logo">Estore</h3>
    <a href="/" class="nav-link">Home</a>
</header>


<div class="container">
    <nav class="sidebar">
        <h3 class="sidebar_header">Разделы</h3>
        <a href="#">Электротовары</a>
        <a href="#">Покупки</a>
        <a href="/employees">Сотрудники</a>
        <a href="#">Справочники</a>
    </nav>
    <div class="content">
        <h3>Сотрудники</h3>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Фамилия</th>
                <th scope="col">Имя</th>
                <th scope="col">Отчество</th>
                <th scope="col">Дата рождения</th>
                <th scope="col">Должность</th>
                <th scope="col">Магазин</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="employee: ${employees}">
                <td th:text="${employee.id}"/>
                <td th:text="${employee.lastName}"/>
                <td th:text="${employee.firstName}"/>
                <td th:text="${employee.patronymic}"/>
                <td th:text="${employee.birthDate}"/>
                <td th:text="${employee.positionName}"/>
                <td th:text="${employee.shopName}"/>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>